<div class="header">
    <div class="row">
      <div class="col-md-8 home-title">
        <h4>Мониторинг видеорекламы в интернете</h4>
      </div>
      <div class="col-md-4 home-auth">
        <div style='display:inline;'><img src="assets/auth-star.png" height="40" width="40"></div>
        <div style='display:inline;'>Личный кабинет</div>
        <div style='display:inline;'> {{ username }} </div>
      </div>
    </div>
    <div class="row backgroung-green">
      <div class="col-md-3 home-title">
        <h5>Обзор рынка: топ 15</h5>
      </div>
      <div class="col-md-3 home-auth">
        <h5>Поиск и построение отчетов</h5>
      </div>
      <div class="col-md-6 home-auth">
        <my-date-range-picker [options]="myDateRangePickerOptions"
                   (dateRangeChanged)="onDateRangeChanged($event)"></my-date-range-picker>

      </div>
    </div>
</div>
